# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/
.DS_Store

# AWS Lambda packages
terraform/aws/*.zip

# GCP Cloud Functions packages
terraform/gcp/*.zip

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars

# Coverage
coverage/

# Logs
logs/
*.log
